<h1 class="card-title text-center"> Calculadora de IMC </h1>
<form action="" method="post">
    <div class="row my-4">
        <div class="col-12">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                id="genero" [(ngModel)]="genero">
                <option selected>Gênero</option>
                <option value="1">Masculino</option>
                <option value="2">Feminino</option>
            </select>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-6">
            <div class="form-floating">
                <input type="number" id="peso" name="peso" class="form-control" placeholder="Peso(kg)" [(ngModel)]="peso">
                <label for="floatingInput" >Peso(kg)</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">
                <input type="numbergit " id="altura" name="altura" class="form-control"
                    placeholder="Altura(m)" [(ngModel)]="altura">
                <label for="floatingInput">Altura(m)</label>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-6">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="idade"
                    value="idade1" [(ngModel)]="idade"><strong>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Adulto: idade <= 65 anos </label> </strong>
            </div>
        </div>
        <div class="col-6">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="idade"
                    value="idade2" [(ngModel)]="idade"><strong>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Idoso: idade > 65 anos
                    </label></strong>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="form-group col-12 mt-4 text-center">
            <input type="button" value="Calcular" class="btn btn-primary" (click)="calcImc()">
            <input type="reset" value="Limpar" class="btn btn-danger">
        </div>
    </div>
</form>
<div class="container color-black">
    <div class="card w-100 my-5">
        <div class="res" [ngStyle]="{ color : get() }">{{ res }}{{ imc }}</div>
    </div>
</div>