<strong>
    Uma calculadora de bmi inteligente ajuda a calcular o valor do índice de massa corporal
    e o status de peso correspondente.
    Esta calculadora permite calcular o IMC para homens, mulheres, adolescentes e crianças.
    Use esta calculadora para saber em qual categoria seu índice de massa corporal se
    enquadra, pode ser normal, abaixo do peso, acima do peso ou obeso.
    Você pode inserir seu peso em libras (lbs) ou quilogramas (kg) e altura em pés e
    polegadas ou centímetros nesta calculadora para cálculos.
</strong>