<strong>
    IMC (Visão geral):
    Um índice de massa corporal é referido como uma medida de magreza ou corpulência que
    deriva da massa (peso) e altura de uma pessoa.
    Lembre-se que esse número não mede a gordura corporal diretamente, porém, está
    moderadamente correlacionado com medidas mais diretas de gordura corporal.
    É definida como a massa corporal dividida pelo quadrado da altura do corpo e é
    universalmente expressa em unidades de, resultante da massa em quilogramas e altura em
    metros.
    O cálculo do IMC é considerado para determinar se uma pessoa está abaixo do peso, peso
    saudável, sobrepeso ou obesidade.

    Lembre-se de que os intervalos de bmi podem variar dependendo do seu regime de
    exercícios.
    Quanto mais você ganhar peso, mais será o índice de massa corporal, mas isso não
    significa que você é obeso, pode ser por causa da alta massa muscular também.
</strong>
