<div class="container color-black">
    <div class="card w-100 my-5">
        <div class="card-body">
            <h1 class="card-title text-center"> Informação </h1>
            <form action="" method="post">
                <div class="row my-4">
                    <div class="col-12">
                        <app-info></app-info>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-12">
                        <app-info1></app-info1>
                    </div>
                </div>
            <br>
            <h4 class="caption">ADULTOS</h4>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>CLASSIFICAÇÃO</th>
                        <th>PONTUAÇÃO DO ÍNDICE DE MASSA CORPORAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr1">
                        <td>Abaixo do peso</td>
                        <td>menos de 18.5</td>
                    </tr>
                    <tr class="tr2">
                        <td>Peso Normal</td>
                        <td>18.5 - 2.49</td>
                    </tr>
                    <tr class="tr3">
                        <td>Excesso de Peso</td>
                        <td>25.0 - 29.9</td>
                    </tr>
                    <tr class="tr4">
                        <td>Obsidade de Classe 1</td>
                        <td>30.0 - 34.9</td>
                    </tr>
                    <tr class="tr5">
                        <td>Obsidade de Classe 2</td>
                        <td>35.0 - 39.9</td>
                    </tr>
                    <tr class="tr6">
                        <td>Obsidade de Classe 3</td>
                        <td>Maior ou Igual a 40.0</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h4 class="caption">IDOSOS</h4>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>CLASSIFICAÇÃO</th>
                        <th>PONTUAÇÃO DO ÍNDICE DE MASSA CORPORAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr7">
                        <td>Abaixo do peso</td>
                        <td>menos de 18,5</td>
                    </tr>
                    <tr class="tr8">
                        <td>Peso Normal</td>
                        <td>menos de 18,5</td>
                    </tr>
                    <tr class="tr9">
                        <td>Excesso de Peso</td>
                        <td>menos de 18,5</td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>
</div>
</div>