.caption{
    text-align: center;

}

.table{
    text-align: center;
}

.tr1{
    background-color: #87CEEB;
}

.tr2{
    background-color: #3CB371;
}

.tr3{
    background-color: #FFFF00;
}
.tr4{
    background-color: #FFA500;
}

.tr5{
    background-color: #FF4500;
}

.tr6{
    background-color: #FF0000;
}

.tr7{
    background-color: #87CEEB;
}

.tr8{
    background-color: #3CB371;
}

.tr9{
    background-color: #FFFF00;
}